body {
  margin: 0;
  font-family: Arial;
  display: flex;
  background: #0f172a;
  color: white;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  color: #7c3aed;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

/* Main */
.main {
  padding: 30px;
  flex: 1;
}

/* Dashboard */
.dashboard h1 {
  font-size: 28px;
}

/* Cards */
.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}
/* Typing */
#typing {
  color: #38bdf8;
  font-weight: bold;
}

/* Skill bars */
.skill {
  margin-top: 15px;
}

.bar {
  width: 100%;
  height: 8px;
  background: #1e293b;
  border-radius: 5px;
}

.fill {
  height: 100%;
  border-radius: 5px;
  animation: load 2s forwards;
}

.python { width: 90%; background: #7c3aed; }
.web { width: 85%; background: #06b6d4; }
.js { width: 70%; background: #facc15; }

@keyframes load {
  from { width: 0; }
}

/* Project hover */
.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 20px rgba(124,58,237,0.5);
}
.hidden {
  display: none;
}

/* Smooth look */
.main section {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

/* Glass effect */
.card {
  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
}

/* Buttons */
.card a {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
body.light {
  background: #f1f5f9;
  color: black;
}

body.light .sidebar {
  background: #e2e8f0;
}

body.light .card {
  background: white;.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #7c3aed;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  }
  #loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #020617;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 999;
  }
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
